/* ABC fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial Regular", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  opacity: 0;
}
#chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#selector {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}
#siteSelector {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}
#selector .option {
  font-family: "ABCSans Black", sans-serif;
  color: white;
  background-color: #1C1C1C;
  padding: 5px;
  width: 65px;
  text-align: center;
  margin-right: 2px;
}
#siteSelector .option {
  font-family: "ABCSans Black", sans-serif;
  color: white;
  padding: 5px;
  width: 65px;
  text-align: center;
  margin-right: 2px;
}
#selector .option:last-child {
  margin-right: 0px;
}
#siteSelector .option:last-child {
  margin-right: 0px;
}
#selector .option.selected {
  background-color: #01CFFF;
}
#description {
  position: absolute;
}
#axisGroup text {
  fill: #1C1C1C;
  font-size: .7rem;
}
.site {
  fill: none;
  stroke-width: 3;
}
.site.notselected {
  opacity: .25;
}
#Florey {
  stroke: #00B395;
}
#siteSelector .option[value=Florey] {
  background-color: #00B395;
}
#Monash {
  stroke: #FF6100;
}
#siteSelector .option[value=Monash] {
  background-color: #FF6100;
}
#Civic {
  stroke: #01CFFF;
}
#siteSelector .option[value=Civic] {
  background-color: #01CFFF;
}
/* desktop-only styling */
@media only screen and (min-width: 500px) {
  body {
    background-color: #f9f9f9;
  }
  #selector .option:hover {
    background-color: #FF6100;
  }
}
